/*!* CSS used here will be applied after bootstrap.css *!*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.login-screen{
    background-color: #D3D3D3;
    padding: 10px;
    width: 300px;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 50px;
}

h2{
    text-align: center;
    margin-top: 0px;
}

.pass{
    margin-top: 10px;
}

.error
{
    background-color: gray;
    border: 2px solid red;
}

.error2
{
    background-color : #ff0000;
    border: 1px solid #800000;
    width: 230px;
    color: white;
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: #ffffff;
}

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
#login-nav input { margin-bottom: 15px; }

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: relative;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}


/*.navbar-right.li {*/
    /*padding-left:900px;*/
    /*padding-right:900px;*/
    /*margin: 500px;*/
/*}*/

/*.footer {*/
    /*position: relative;*/
    /*margin-top: -150px; !* negative value of footer height *!*/
    /*height: 150px;*/
    /*clear:both;*/
    /*padding-top:20px;*/
/*}*/

/*.footer > .container {*/
    /*padding-right: 15px;*/
    /*padding-left: 15px;*/
/*}*/

